@import "tailwindcss";
::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ff6c04;
	border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
	background: #ff6c04;
}
